* {
  box-sizing: border-box;
}

body {
	
  background-color: white;
   font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {  
   display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}
.textSide {
  -ms-flex: 70%; 
  flex: 70%;
  padding: 20px;
  text-align: center;
  background: green;
  color: white;
}
.textSide h1 {
  font-size: 40px;
}

.logoSide {
  -ms-flex: 30%; 
  flex: 30%;
  background-color: green;
  padding: 20px;
}
.img{
  width: 100%;
  padding: 20px;
}

.navbar {
  overflow: auto;
  width:100%;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  font-size:36px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: gray; 
}
.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 20px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.h1{
	font-size:36px;
}
.input{
	float:right;
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 95%;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.btn{
  background-repeat: no-repeat;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.btn1{
  background-repeat: no-repeat;
  font-size: 15px;
  width:30%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

 
